<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator Penjumlahan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>Kalkulator Perkalian</h1>
        <form id="calculator-form">
            <div class="form-group">
                <label for="bilangan1">Bilangan 1:</label>
                <input type="number" class="form-control" id="bilangan1" name="bilangan1" required>
            </div>
            <div class="form-group">
                <label for="bilangan2">Bilangan 2:</label>
                <input type="number" class="form-control" id="bilangan2" name="bilangan2" required>
            </div>
            <button type="button" class="btn btn-danger" id="proses">kali</button>
        </form>
        <a href="{{ url_for('index') }}">
            <button type="button" class="btn btn-success mt-3" >pergi ke halaman penjumlahan</button>
        </a>
        <a href="{{ url_for('kurang') }}">
            <button type="button" class="btn btn-success mt-3" >pergi ke halaman pengurangan</button>
        </a>
        <a href="{{ url_for('bagi') }}">
            <button type="button" class="btn btn-success mt-3" >pergi ke halaman pembagian</button>
        </a>
    </div>

    <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="result-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="result-modal-label">Hasil Penjumlahan</h5>
                    <a href="{{ url_for('kali')}}"><button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></a>
                </div>
                <div class="modal-body">
                    <p id="result-text"></p>
                </div>
            </div>
        </div>
    </div>


    <script>
       $(document).ready(function() {
        $("#proses").on("click", function() {
            var bilangan1 = parseFloat($("#bilangan1").val());
            var bilangan2 = parseFloat($("#bilangan2").val());
            $.ajax({
                url: "/perkalian",  
                type: "POST",
                data: JSON.stringify({bilangan1: bilangan1, bilangan2: bilangan2}),
                contentType: "application/json",
                success: function(response) {
                    $("#result-text").text("Hasil perkaliannya: " + response.result);  
                    $("#result-modal").modal("show");
                }
            });
        });
    });
    </script>
</body>
</html>
